.App {
  text-align: center;
  font-size: 15px;
  
  /* background-image: url(/images/logo.jpg); */
}
/* body,html{
  @media screen {
    background:red;
  }
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .img{
  height: 100%;
  width: 100%;
  margin: 50px;
} */

/*Media Queries*/


/* 
.social{
  font-size:40px;
  margin: 90px;
  padding:90px;
} */

.inputs{
  font-size: 20px;
  display: inline;
  text-align: justify;
  justify-content: center;
  margin-top: 50px;
  padding: 5px;
  align-items: center;
  

} 
.sbtn{
  text-align: center;
  align-items: center;
  display: inline;
  justify-content: center;
  margin: 10px;
  text-align: justify;
  
}

.sbtn::before{
  color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.serv{
  text-align: justify;
  width: 100%;
  margin: 0;
  padding: 0;

}

.hom{
  text-align: justify;
  width: 100%;
}

.cont{
  width: 100%;
}

p{
  
  font-size: 16px;
  padding: 0;
  margin: 0;
}
ul{
  float: none;
  display: inline;
  clear: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul.navbar-nav.ml-auto{
  margin-left: 0;
  padding: 0;
}

.ml-auto, .mx-auto{
  margin: 0;
  padding: 0;
  margin-left: 0;
}

.ml-auto{
  margin-left: 0;
}

.navbar-nav{
  margin-left: 0;
}

.navbar-nav .ml-auto{
  margin-left: 0;
}
ul.navbar-nav, .ml-auto{
  margin-left: 0;
  margin: 0;
}
ul{

  font-size: 25px ;
  font-family: sans-serif;
  text-align: center;
  float: none;
  margin: 0;
  padding: 0;
  


}

li{
  clear: left;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 0;
  padding: 0;
}

/* h3{
  font-size: 20px;
  font-weight: bold;
} */

ol{
  text-align: justify;
  margin: 0;
  padding: 0;
  font-size: 16px;
  align-items: center;
}

a{
  align-items: center;
  clear: left;
  float: none;
  justify-content: center;
}

.nav{
  float: none;
  clear: left;

}

.navbar{
  width: 100%;
  justify-content: center;
}

body{
  width: 100%;
}
/* 
.footer-ul{
  width: 45%;
  text-align: left;
  margin: 0;
  padding: 0;
  color: beige;
} */


h2,h1,h3{
  font-size: 18px;
  padding: 0;
  margin: 0;
   /* font-weight: bold;  */
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* h1{
  font-size: 12px;
   font-weight: bold; 
} */

.social{

  text-decoration: none ;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 60px;
  width: 100%;
   /* color: #fff;
 height: inherit;
    width: inherit; */
  /* background-color: #212121; */
  /* box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); */

}
/* .social:hover{
  color: #212121;
} */
/* 
@media (min-width: 0)
.text-xs-center {
    text-align: center!important;
} */


.logo{
  float: left;
  text-indent: -100000px;
  background-repeat: no-repeat;
  width: 100%;
  height: 1px;
  margin: 2px;
}

/* TABLET media query */
 /* @media screen and (max-width: 768px){

  .social{
    width: 100%;
    margin-top: 350px;
  }
  h2{
    font-size: 30px;
  }
  .navigation {
    float: left;
    width:100%;
    margin: 0;
    padding: 0;
  }
  .nav {
    float: left;
    margin: 200px 0 0 0;
    padding: 0;
    width: 50px;
  }

  .hom{
    width: 100%;
    margin-top:20px;
  }

  #navbarResponsive{
    text-align: justify;
    align-items: center;
    width: 20%;
  }

navbarResponsive{
  align-items: center;
  width: 50px;
  padding: 0;
  margin: 0;
  display: flex;
}

nav{
  clear: left;
  float: none;
  width: 100%;
}


a{
  align-items: center;
  clear: left;
  float: none;
}

.navbar-nav .nav-link{
  padding: 0;
  margin: 0;
  clear: left;
  float: none;
  align-items: center;
  display: inline;
}

}  */

@media screen and (max-width: 1024px){
  /* a{
    align-items: center;
    clear: left;
    float: none;
  }
  
  .navbar-nav .nav-link{
    padding: 0;
    margin: 0;
    clear: left;
    float: none;
    align-items: center;
    display: inline;
  }

  .navbar-expand-lg .navbar-collapse{
    align-items: center;
  } */

  /* .social{
    margin-bottom: 160px;
  } */
  li{
    font-size: 20px;
  }
}