@import url("https://fonts.googleapis.com/css2?family=inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.App {
  text-align: center;
  font-size: 15px;
  
  /* background-image: url(/images/logo.jpg); */
}
/* body,html{
  @media screen {
    background:red;
  }
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input,textarea, label{
  font-family: "inter",sans-serif;
}


.form {
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  /* text-align: justify; */
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
} 

.form> label {
  padding-bottom: 5px;
  color:rgb(0,0, 32);
  font-weight: bold;

}
.form > label{
  height: 100px;
  margin: 0;
  padding: 0;
  /* max-width: 400px; */
  /* min-width: 100px; */

}

.form> textarea {
  height: 100px;
  max-width: 400px;
  max-height: 100px;

}

.form> input,textarea{
  padding: 20px;
  border-radius: 3px;

  margin-bottom: 20px;
  border: 1px solid lightgray;

  background: #fff;
  font-size: 16px;
  color:rgb(0, 0, 32);
  outline: none;
}

.form > input:focus,
 textarea:focus{
  border: 1px solid rgb(0, 0, 196);
}

.form > .sbtn{
  padding: 20px;
  border: none;
  background-color: rgb(2, 2, 110);
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}
ol{
  margin: 0;
  margin-top: 0;
  padding: 0;
}
h3{
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-weight: 500;
  font-family: "inter", sans-serif;
  color:rgb(0,0, 32);
}
h4{
  font-size: 20px;
}
 h2,h4 {
  margin-bottom: 30px;
  font-weight: 500;
  font-family: "inter", sans-serif;
  color:rgb(0,0, 32);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.serv{
  text-align: justify;
  width: 100%;
  margin: 0;
  padding: 0;

}

.hom{
  text-align: justify;
  width: 100%;
}

.cont{
  width: 100%;
}

p{
  
  font-family: "inter", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
ul{
  float: none;
  display: inline;
  clear: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul.navbar-nav.ml-auto{
  margin-left: 0;
  padding: 0;
}

.ml-auto, .mx-auto{
  margin: 0;
  padding: 0;
  margin-left: 0;

}

.ml-auto{
  margin-left: 0;
}

.navbar-nav{
  margin-left: 0;
}

.navbar-nav .ml-auto{
  margin-left: 0;
}
ul.navbar-nav, .ml-auto{
  margin-left: 0;
  margin: 0;
  
}
ul{

  font-size: 20px ;
  font-family: "inter",sans-serif;
  text-align: center;
  float: none;
  margin: 0;
  padding: 0;
  
}

li{
  clear: left;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 0;
  padding: 0;
}

/* h3{
  font-size: 20px;
  font-weight: bold;
} */

ol{
  text-align: justify;
  margin: 0;
  padding: 0;
  font-size: 16px;
  align-items: center;
  font-family: "inter", sans-serif;
}

a{
  align-items: center;
  clear: left;
  float: none;
  justify-content: center;
}

.nav{
  float: none;
  clear: left;

}

.nav-link{
  margin: 0;
  padding:0;
}

.navbar{
  width: 100%;
  justify-content: center;
  min-height: 20px;
  height: 100px;
}

body{
  width: 100%;
}
/* 
.footer-ul{
  width: 45%;
  text-align: left;
  margin: 0;
  padding: 0;
  color: beige;
} */


h1{
  font-size: 18px;
  padding: 0;
  margin: 0;
   /* font-weight: bold;  */
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* h1{
  font-size: 12px;
   font-weight: bold; 
} */

.social{

  text-decoration: none ;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 60px;
  width: 100%;
   /* color: #fff;
 height: inherit;
    width: inherit; */
  /* background-color: #212121; */
  /* box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); */

}
/* .social:hover{
  color: #212121;
} */
/* 
@media (min-width: 0)
.text-xs-center {
    text-align: center!important;
} */


.logo{
  float: left;
  text-indent: -100000px;
  background-repeat: no-repeat;
  width: 100%;
  height: 1px;
  margin: 2px;
}

.img{
  height: 400px;
  width: 88%;
  padding: 40px;
  cursor: pointer;
}

/* Media queries */

/*iphone 6/7/8*/
@media screen and (min-width: 375px){
  .social{
  width: 100%;  
  margin-top: 10px;  
  /* margin-bottom: 20px;  */
  }
  
  .img{
    height: 400px;
    width: 88%;
    padding: 40px;
    cursor: pointer;
    margin: 0;
    scroll-behavior: smooth;
  }
}

/* image slider */



.container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide images by default */
.mySlides{
  display: none;
}

/* NEXT and PREVIOUS Buttons */
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* position NEXT button to the right */

.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* hover the dots */

.prev:hover, .next:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption Text */

.text{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* dots indicators 
*/
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.actve, .dot:hover{
  background-color: #717171;

}

/* Fading Animation */
.fade{
  -webkit-animation-name:fade ;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration:1.5s ;
}

@-webkit-keyframes fade{
  from{opacity: .4;}
  to{opacity: 1;}
}

@keyframes fade {
  from{opacity: .4;}
  to{opacity: 1;}
}

.dots{
  text-align: center;
}

